// typography math
$baseline: 8.5px;
$baseline-rem: 1.5rem;
$baseline-lineheight: 25px;
$line-height-factor: 1.7;
$letter-spacing-factor: 0.0009;

$yellow: #f7bf6f;

.bg-yellow {
	background-color: $yellow;
}
.t-yellow {
	color: $yellow;
}


// responsive
	// global breaks
	$tiny: 320;
	$small: 480;
	$phone: 640;
	$phone-l: 798;
	$tablet: 960;
	$tablet-l: 1024;
	$full: 968; // set to the same as wrapper-width
	$desktop: 1280;

	$spacing-quad: 8rem;
	$spacing-double: 4rem;
	$spacing: 2rem;



	// build media queries
	@mixin tiny() {
		@include respond-to($tiny) { @content; }
	}
	@mixin small() {
		@include respond-to($small) { @content; }
	}
	@mixin phone() {
		@include respond-to($phone) { @content; }
	}
	@mixin phone-l() {
		@include respond-to($phone-l) { @content; }
	}
	@mixin tablet() {
		@include respond-to($tablet) { @content; }
	}
	@mixin tablet-l() {
		@include respond-to($tablet-l) { @content; }
	}
	@mixin full() {
		@include respond-to($full) { @content; }
	}
	@mixin desktop() {
		@include respond-to($desktop) { @content; }
	}