.content {
		left: 25vw;
    margin-top: 100vh;
    position: relative;
    margin-left: .38rem;

    @include phone-l() {
    	left: 0;
	    width: 100vw;
	    padding: 2vw;
	    margin-left: 0px;
    }
}