.slice {
    display: flex;
    flex-wrap: wrap;
	width: 100%;
    &.reverse {
        flex-direction: row-reverse;
    }
    &.column {
        flex-direction: column;
        align-items: center;
    }
    @for $i from 1 through 100 {
        .slice-#{$i} {
            flex: 0 0 $i * 1%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding: 12rem;
            box-sizing: border-box;

            p {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
            }
            @include tablet() {
                flex: 0 0 100%;
            }
            &.grow {
                flex-grow: 1;
                width: 100%;
            }
            &.no-pad {
                padding: 0;
            }
        }
    }

    @include tablet() {
        .slice-50 {
            min-height: 100vw;
        }
    }
}


.slice-gutter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -1em;
    box-sizing: content-box;
    flex-grow: 2;
    width: 101.95%;
    position: relative;
    align-items: flex-start;

    .slice-item {
        padding: 1em;
    }
    .slice-align-top {
        align-self: flex-start;
    }
    .slice-align-bottom {
        align-self: flex-end;
    }
    &.slice-wrapper-mod {
        padding-top: 0;
        padding-right: 0;
    }
}

.slice-col {
    display: flex;
    flex-flow: column wrap; 
}