.main-menu {
	position: fixed;
	left: 5vw;
	top: 10vh;
	width: 20vw;
	color: white;
	z-index: 1;

	.menu-toggle {
		display: none;
		color: rgba(0,0,0,0.7);
    font-size: 8rem;
    left: 100%;
    position: absolute;
    margin-left: 2vw;
	}

	@include phone-l() {
		width: 80vw;
		left: -80vw;
		top: 3vh;

		.menu-list .after {
			display: none;
		}

		.menu-toggle {
			display: block;
		}
		.menu-list {
			margin-top: 5vh;
		}

		&.is-active {
			left: 0;

			.menu-toggle {
				left: 2vw;
				margin-left: 0;
			}
		}
	}

	.menu-list {
		// transform: scale(0.9);
    left: 0px;
    position: relative;
    transition: all 0.3s ease-in;

    .after {
    	content: "";
    	position: absolute;
    	right: -1.75rem;
    	width: 1.75rem;
    	background: $yellow;
    	height: 0px;
    	top: 0px;
    	opacity: 0;

    	// transition: all 0.5s ease-in;

    	// transition-timing-function: ease;
    	transition-property: height, opacity, top;
    	transition-duration: 0.4s;

    	&.is-active {
    		opacity: 1;
    	}

    	.inner {
    		background: rgba(0,0,0,1);
    		width: 100%;
    		bottom: 0;
    		position: absolute;
    	}
    }
    &:hover {
    	// transform: scale(0.94);
    }
		.menu-item {
			&:first-child {
				a, &.label {
					margin-top: 0px !important;
				}
			}

			&.label {
				background: $yellow !important;
				color: black !important;
				margin-top: 0px !important;
			}
	    a, &.label {
	    	background: black;
	    	display: block;
				padding: 1rem;
				background: black;
				margin-top: 0.25rem;
		    padding: 3rem 2rem;
		    font-size: 2.6rem;
		    font-weight: 900;
		    text-transform: uppercase;
		    transition: all 0.1s ease;
	    	color: white;
	    	transition: all 0.2s ease;

	    	@include phone-l() {
	    		padding-left: 2vw;
	    	}
	    }
	    &:hover, &.is-active {
	    	a {
	    		background: $yellow;
	    		color: black;
	    	}
	    }
		}
	}
}

.contact-info {
	  padding: 2rem;
    display: block;
    background: rgba(255,255,255,0.8);
    color: black;
    word-break: break-word;
}

.logo {
		position: absolute;
    right: 2rem;
    opacity: 0.4;
    height: 9vh;
    top: 1vh;
    padding-bottom: 2rem;
		img {
			height: 100%;
			width: auto
		}

		@include phone-l() {
			position: absolute;
	    right: 2vw;
	    opacity: 0.4;
	    height: 6vh;
	    top: 2.65vh;
	    padding-bottom: 2rem;
		}
	}