.product {
	background: white;
  padding: 2rem;
  width: 65vw;
  margin-bottom: 0.25rem;

  img {
  	width: 100%;
  	margin-bottom: 2rem;
  }

  .product-name {
  	margin-bottom: 4rem;
  	background: white;
  }
  .product-description {
  	margin-bottom: 2rem;
  }
}